
/* font-family: 'Circe Regular'; */
@font-face {
    font-family: 'Circe Regular';
    src: url('./Circe-Regular.eot');
    src: url('./Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('./Circe-Regular.woff') format('woff'),
    url('./Circe-Regular.ttf') format('truetype'),
    url('./Circe-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar{
    
}
 


.centered{
    max-width: 1440px;
    margin: auto;
    position: absolute;
    font-family: 'Circe Regular';
    top: 0; left: 0; bottom: 0; right: 0;
}



/* TOP */

.centered {
    max-width: 1440px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}


.tophead {
    display: grid;
    grid-template-columns: 36% 28% 36%;
    position: sticky;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 28px;
}

.topleft {
    display: grid;
    margin-left: 5%;
    margin-top: 4%;
    grid-template-columns: repeat(3, auto);
}

.two_top_left_words{
    margin-right: 8%;
}

.top_left_word{
    margin-top: 0.5%;
    cursor: pointer;
}

.top_left_word a {
    text-decoration: none;
    color: black;
}


.topmid {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    /* padding: 4%; */
    font-weight: 700;
    color: rgba(12, 19, 161, 1);
    margin-bottom: 5%;
}

.topright {
    display: grid;
    grid-template-columns: repeat(3,auto);
    text-align: center;
    margin-top: 3%;
    margin-left: auto;
    width: 100%;
    height: 50%;
    /* margin-right: 35%;
    gap: 35%; */
}

.top_right_words{
    margin:auto;
}


.top_right_words a {
    text-decoration: none;
    color: black;
}

.zayavka{
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    /* height: 40px; */
    width: 80%;
    background-color:rgba(12, 19, 161, 1);
    color: white;
}

.text_in_zayavka{
margin: 6% 0% 5% 0%
}

.burger-menu {
    position: relative;
    display: none;
    cursor: pointer;
    /* margin-top: 4%; */
}

.burger-icon {

    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 0px;
    height: 20px;
    justify-content: space-around;
    margin-left: 5%;
    margin-top: 3.6%
}

.line {
    width: 30px;
    height: 3px;
    background-color: black;
}

/* Скрываем чекбокс */
#menu-toggle {
    display: none;
}

/* Скрываем меню по умолчанию */
.burger-dropdown {
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    width: 40%;
    left: 0;
    top: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.burger-dropdown a {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
}

.burger-dropdown a:hover {
    background-color: #bab8b8;
}

/* Показать меню при нажатии на бургер */
#menu-toggle:checked + .burger-icon + .burger-dropdown {
    display: flex;
}


/* Скрыть стандартное меню на малых экранах и показать бургер */
/* Убираем скрытие центрального элемента */
@media screen and (max-width: 900px) {
    .tophead {
        display: none; /* скрываем только верхнее меню */
    }

    .burger-menu {
        display: flex; /* отображаем бургерное меню */
    }

    /* Оставляем .topmid видимым */
    .topmid {
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-size: 1.5rem;
        /* padding: 1%; */
        margin-top: 1%;
        margin-bottom: 0%;
    }
}

/* .font-size{
    font-size: 16px;
} */

/* Dropdown Button */
.dropbtn {
    /* font-family: Circe; */
    cursor: pointer;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 28px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    border: none;
}

.dropbtnrus {
    /* font-family: Circe; */
    cursor: pointer;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    background-color: rgba(245, 245, 245, 1);
    color: rgb(0, 0, 0);

    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    /* cursor: pointer; */
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(0, 0, 0) ;
    padding: 12px 16px;
    /* text-decoration: none; */
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #bab8b8;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #bab8b8;}

.dropdown:hover .dropbtnrus {background-color: white;}



/* <--------------------------------------------------> */


/* Under the head */

.topunhead{
    background-color:rgba(245, 245, 245, 1);
    display: flex;
    /* width: 1440px; */
    /* height: 40px; */
    font-size: 1rem;
    border-bottom: 1px solid rgba(202, 202, 202, 1);
}

.lupa{
    height: 23px;
    width: 23px;
    /* margin-top: 9%;
    margin-right: 10px;
    /* /* margin-right: 48px; */
}

.search-container {
    position: relative;
}

.toggle-search {
    margin-top: 30%;
    display: none; /* Скрываем чекбокс */
}

.lupa {
    margin-top: 30%;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.search-input {
    display: none; /* Скрываем поле ввода по умолчанию */
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
    transition: opacity 0.3s ease; /* Плавный переход */
}

.toggle-search:checked + .lupa + .search-input {
    display: block; /* Показываем поле ввода, когда чекбокс выбран */
}


.rus_flag{
    /* margin-right: 8px; */
    /* margin-top: 9%; */
    margin-right: 5px;
    width: 24px;
    height: 24px;
    background: url('d3b66be34871cf82ac56400a1deb0529.png');
    background-size: 24px 24px;
    border-radius: 50%;
}

/* .choose_country{
    margin-top: 3%; 
} */

/* .strel_choose_country{
    margin-top: 17px;;
} */

.topunheaddiv{
    display: grid;
    grid-template-columns:repeat(4,auto);
    align-items: center;
    margin-left: auto;
}
/* Скрываем чекбокс */
.toggle-search {
    display: none;
}

/* Контейнер для поля поиска */
.search-bar {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 0;  /* По умолчанию ширина 0 */
    opacity: 0;
    transition: width 0.5s ease, opacity 0.5s ease;  /* Плавная анимация */
    margin-left: 10px;
}

/* Отображаем поле для поиска при активированном чекбоксе */
.toggle-search:checked + label + .search-bar {
    width: 250px;  /* Ширина поля после активации */
    opacity: 1;    /* Видимость поля */
}

@media screen and (max-width: 425px) {
    .toggle-search:checked + label + .search-bar{
        width: 220px;
    }
}

/* Стили для поля ввода */
.search-bar input {
    padding: 5px;
    width: 100%;  /* Растягиваем на всю доступную ширину */
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.search-bar button {
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(12, 19, 161, 1);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 425px){

}

.search-bar button:hover {
    background-color: rgba(12, 19, 161, 1);
}






/* map */

.road{
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
    font-size: 1rem;
}

.road a{
    text-decoration: none;

    color: rgba(135, 135, 135, 1)
}

.strinroad{
    margin-top: 0.3%;
    margin-left: 1%;
    margin-right: 1%;
}

@media screen and (max-width:600px) {
    .strinroad{
        margin-top: 0.6%;
    }
}

.podati_zayavka{
    margin-top: 5%;
    width: 100%;
    /* margin-left: 3%;
    margin-right: 3%; */
}


/* ZAYAVKA */

.grid_zayavka{
    display: grid;
    grid-template-columns: 25% 75%;
    margin-left: 5%;
}

@media screen and (max-width: 1200px){
    .grid_zayavka{
        margin-left: 10%;
        /* margin-right: 5%; */
        grid-template-columns: auto;
    }
}
 
.tag{
    color: rgba(12, 19, 161, 1);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 36px;
}

@media screen and (max-width:500px){
    .tag{
        margin-top: 3%;
    }
}

.forma_zayavki{
    margin-top: 5%;
    width: 93%;
}

.tag_in_forma{
    margin-bottom: 5%;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 44px;
    color: rgba(0, 0, 0, 1);
    margin-top:5%;
}





/* BLOCK 1 */


.block1{
    display: grid;
}


.personal_dan{
    display: grid;
}

.zapolnite_personal_dan{
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 2%;
    row-gap: 2%;
}

.name{
    display: grid;
}

.surename{
    display: grid;
}

.grazdanstvo{
    display: grid;
}

/* DATA */

.data_rozdenia{
    display: grid;
    grid-template-columns: repeat(3,auto);
    column-gap: 3%;
}

.day{
    display: grid;
}

.month{
    display: grid;
}

.year{
    display: grid;
}

/* ----- */

.spawn{
    display: grid;
}

.obychenie{
    display: grid;
}

.about_u{
    display: grid;
    margin-top:3%
}

#insert_about_u {
    width: 80%; /* Ширина поля */
    height: auto; /* Высота будет зависеть от количества строк */
    padding: 10px; /* Отступ внутри поля */
    font-size: 1rem; /* Размер текста */


    border:1px solid rgba(182, 184, 191, 1);

    resize:none; /* Разрешить изменение высоты */
}

#first_name,
#second_name,
#select_grazdanstvo,
#insert_spawn,
#insert_obychenie,
#insert_about_u,
#select_day,
#select_month,
#select_year{

    font-size: 1rem;
    padding: 13px;
    /* margin-top: 5%; */
    margin-bottom: 5%;
    border:1px solid rgba(182, 184, 191, 1);

}

#select_day,
#select_month,
#select_year{
    margin-top: auto;
    margin-bottom:21px;
}

.choose_d_roz{
    display: grid;
    align-items: center;
}

@media screen and (max-width:950px){
    #select_day,
    #select_month,
    #select_year{
        margin-top: auto;
        margin-bottom:17px;
    }

    .about_u{
        width: 98%;
    }
}

@media screen and (max-width:815px){
    .zapolnite_personal_dan{
        grid-template-columns: 80%;
        column-gap: 0%;
    }

    #select_day,
    #select_month,
    #select_year{
        margin-top: auto;
        margin-bottom:auto;
    }
    #first_name,
    #second_name,
    #insert_spawn,
    #insert_obychenie,
    #insert_about_u{
        width: 472px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #select_grazdanstvo{
        width: 500px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */  
    }

    #select_day,
    #select_year,
    #select_month{
        width: 157px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    
    }


    .about_u{
        width: 95%;
        margin-top: 10%;
    }
}

@media screen and (max-width:600px){
    .zapolnite_personal_dan{
        grid-template-columns: 70%;
        /* column-gap: 0%; */
    }

    #first_name,
    #second_name,
    #insert_spawn,
    #insert_obychenie,
    #insert_about_u{
        width: 400px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #select_grazdanstvo{
        width: 430px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */  
    }

    #select_day,
    #select_year,
    #select_month{
        width: 134px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    
    }



    .about_u{
        width: 82%;
    }
}


@media screen and (max-width:500px){
    .zapolnite_personal_dan{
        grid-template-columns: 60%;
        row-gap: 4%;
    }

    .about_u{
        margin-top: 25%;
        width: 70%;
    }


    #first_name,
    #second_name,
    #insert_spawn,
    #insert_obychenie,
    #insert_about_u{
        width: 330px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #select_grazdanstvo{
        width: 360px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */  
    }

    #select_day,
    #select_year,
    #select_month{
        width: 112.5px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    
    }
}

@media screen and (max-width:420px){
    .zapolnite_personal_dan{
        grid-template-columns: 50%;
        column-gap: 0%;
    }

    .about_u{
        width: 58%;
    }

    #first_name,
    #second_name,
    #insert_spawn,
    #insert_obychenie,
    #insert_about_u{
        width: 250px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #select_grazdanstvo{
        width: 278px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */  
    }

    #select_day,
    #select_year,
    #select_month{
        width: 87px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    
    }
}




/* PHOTO */

.upload_photo{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 200px auto;
    column-gap: 5%;
    margin-bottom: 5%;
}

.upload_photo_text{
    display: grid;
    text-align: left;
    margin: auto auto auto 0%;
}

.upload_photo_text_down{
    color:rgba(182, 184, 191, 1) ;
}



@media screen and (max-width:500px){
    .upload_photo_svg{
        width: 170px;
        height: 120px;
    }

    .upload_photo{
        column-gap: 0%;
    }
}

@media screen and (max-width:420px){
    .upload_photo_svg{
        width: 150px;
        height: 100px;
    }

    .upload_photo{
        grid-template-columns: 160px auto ;
    }

    .upload_photo_text{
        font-size: 0.9rem;
    }
}




/* BLOCK 2 */



.block2{
    display: grid;
}

.known_language_top{
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 3%;
    margin-top: 5%;

}

.known_language select{
    width: 100%;
    padding: 15px 15px 15px 15px;
    margin-bottom: 5%;
}

#native_language {

    font-size: 1rem;
    line-height: 24px;
    font-weight:400;
    border:1px solid rgba(182, 184, 191, 1);

}

#russian_level{
    font-size: 1rem;
    line-height: 24px;

    font-weight:400;
    border:1px solid rgba(182, 184, 191, 1);

}

.know_in_language{
    display: grid;
}

.know_in_language input {
    width: 80.25%;
    padding: 15px 15px 15px 15px;

}

#foreign_languages{
    font-size: 1rem;
    line-height: 24px;
    font-weight:400;

    border:1px solid rgba(182, 184, 191, 1);

}

@media screen and (max-width:745px){
    .known_language_top{
        grid-template-columns: 80%;
        column-gap: 0%;
    }

    #foreign_languages{
        width: 460px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #native_language,
    #russian_level{
        width: 615px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
}

@media screen and (max-width:600px){
    .known_language_top{
        grid-template-columns: 70%;
        column-gap: 0%;
    }

    #foreign_languages{
        width: 395px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #native_language,
    #russian_level{
        width: 610px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #foreign_languages,
    #native_language,
    #russian_level{
        font-size: 0.9rem;
    }

}

@media screen and (max-width:500px){
    .known_language_top{
        grid-template-columns: 60%;
        column-gap: 0%;
    }

    #foreign_languages{
        width: 340px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #native_language,
    #russian_level{
        width: 600px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #foreign_languages,
    #native_language,
    #russian_level{
        font-size: 0.85rem;
    }


    .known_language select{
        padding: 10px;
    }

    .know_in_language input {
        padding: 10px;
    }
}

@media screen and (max-width:420px){
    .known_language_top{
        grid-template-columns: 80%;
        column-gap: 0%;
    }


    #foreign_languages{
        width: 255px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #native_language,
    #russian_level{
        width: 277px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
    #foreign_languages,
    #native_language,
    #russian_level{
        font-size: 0.8rem;
    }
}


/* BLOCK 3 */

.block3{
    margin-top: 5%;
    display: grid;   
}

.family{
    margin-top: 5%;
    display: grid;
}

.family input{
    width: 80.21%;
    padding: 15px 15px 15px 15px;
    margin-bottom: 2%;
}

.family_in_russian{
    display: grid;
}

#family_person{
    font-size: 1rem;
    line-height: 24px;
    font-weight:400;
    border:1px solid rgba(182, 184, 191, 1);
}


.family_in_russian select{
    width: 50%;
    padding: 15px 15px 15px 15px;
    margin-bottom: 5%;
}

#family_in_ru{
    font-size: 1rem;
    line-height: 24px;
    font-weight:400;
    border:1px solid rgba(182, 184, 191, 1);
    color: black;
}

@media screen and (max-width:745px){
    #family_person{
        width: 460px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #family_in_ru{
            width: 492px; /* Ограничьте ширину */
            max-width: 100%; /* Чтобы не выходить за границы родителя */
            overflow-x: scroll;
            white-space: nowrap; /* Отключите перенос текста */
    }

    .family_in_russian select{
        width: 100%;
    }

    #family_person,
    #family_in_ru{
        font-size: 0.9rem;
    }

}

@media screen and (max-width:600px){
    #family_person{
        width: 395px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #family_in_ru{
            width: 427px; /* Ограничьте ширину */
            max-width: 100%; /* Чтобы не выходить за границы родителя */
            overflow-x: scroll;
            white-space: nowrap; /* Отключите перенос текста */
    }
}

@media screen and (max-width:500px){
    #family_person{
        width: 328px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #family_in_ru{
            width: 360px; /* Ограничьте ширину */
            max-width: 100%; /* Чтобы не выходить за границы родителя */
            overflow-x: scroll;
            white-space: nowrap; /* Отключите перенос текста */
    }

    #family_person,
    #family_in_ru{
        font-size: 0.85rem;
    }

}



@media screen and (max-width:420px){
    #family_person{
        width: 245px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #family_in_ru{
            width: 277px; /* Ограничьте ширину */
            max-width: 100%; /* Чтобы не выходить за границы родителя */
            overflow-x: scroll;
            white-space: nowrap; /* Отключите перенос текста */
    }

    #family_person,
    #family_in_ru{
        font-size: 0.8rem;
    }
}



/* BLOCK4 */


.block4 {
    display: grid;
    row-gap: 20px; /* Отступы между рядами */
}

.career {
    display: grid;
    width: 82%;
}

.work_in_russia{
    width: 100%;
}

#work_in_russia {
    width: 97%;
    padding: 10px;
    font-size: 1rem;

    border:1px solid rgba(182, 184, 191, 1);
    resize: none;
}

.second_row_in_4 {
    display: grid;
    grid-template-columns: 40% 40%; /* Колонки для ожидаемого заработка и открытия бизнеса */
    column-gap: 2%; /* Пробел между колонками */
}

.expected_salary {
    display: grid;
}

.salary_range {
    display: grid;
    grid-template-columns: 25% 25% 15%; /* Поля для диапазона и валюты в одной строке */
    column-gap: 2%;
}

.salary_front{
    width: 50%;
}

#salary_from,
#salary_to{
    color: black;

}


#salary_from,
#salary_to,
#currency {
    padding: 10px;
    font-size: 1rem;

    border:1px solid rgba(182, 184, 191, 1);
}

.business_in_russia {
    display: grid;
}

#business_russia {
    padding: 10px;
    font-size: 1rem;

    border:1px solid rgba(182, 184, 191, 1);
}

.current_job {
    display: grid;
}

#current_job_position {
    width: 80%;
    padding: 10px;
    font-size: 1rem;

    border:1px solid rgba(182, 184, 191, 1);
    margin-bottom: 5%;
}



@media screen and (max-width:1035px) {
    .career{
        width: 80%;
    }

    .salary_range {
        grid-template-columns: 20% 20% 12% !important;
    }
}

@media  screen and (max-width: 777px){


    .second_row_in_4{
        margin-top: 1%;
        grid-template-columns: 80%;
        row-gap: 15%;
    }
    
    #current_job_position{
        width: 76%;
    }

    .current_job{
        margin-top: 4%;
    }

}

@media  screen and (max-width: 666px){
    #work_in_russia,
    #current_job_position{
        width: 470px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
    #salary_from,
    #salary_to,
    #currency{
        width: 185px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
    #business_russia{
        width: 490px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
    .salary_range{
        gap: 15%;  
    }
}

@media  screen and (max-width: 600px){
    .work_in_russia{
        width: 80%;
    }

    #work_in_russia,
    #current_job_position{
        width: 405px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
    #salary_from,
    #salary_to,
    #currency{
        width: 159px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
    #business_russia{
        width: 425px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }

    #salary_from,
    #salary_to,
    #currency,
    #work_in_russia,
    #current_job_position,
    #business_russia{
        font-size: 0.9rem;
    }
}

@media  screen and (max-width: 500px){
    #work_in_russia,
    #current_job_position{
        width: 340px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
    #salary_from,
    #salary_to,
    #currency{
        width: 152px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
    #business_russia{
        width: 360px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
    .salary_range{
        gap: 10%;
    }

    #salary_from,
    #salary_to,
    #currency,
    #work_in_russia,
    #current_job_position,
    #business_russia{
        font-size: 0.85rem;
    }
}

@media  screen and (max-width: 420px){
    #work_in_russia,
    #current_job_position{
        width: 255px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
    #salary_from,
    #salary_to,
    #currency{
        width: 112px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
    #business_russia{
        width: 278px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
    .salary_range{
        gap: 10%;
    }

    #salary_from,
    #salary_to,
    #currency,
    #work_in_russia,
    #current_job_position,
    #business_russia{
        font-size: 0.8rem;
    }
}



/* BLOCK 5 */

.block5{
    display: grid;
}

.dop_qastions{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: repeat(4, auto);
    column-gap: 2%;
}

.q{
    display: grid;
    width: 100%;
    margin-top: 5%;
}

.q select{
    padding: 15px 15px 15px 15px;

}

#qastion_01,
#qastion_02,
#qastion_03,
#qastion_04,
#qastion_05,
#qastion_06,
#qastion_07,
#qastion_08 {
    font-size: 1rem;
    line-height: 24px;
    font-weight:400;
    border:1px solid rgba(182, 184, 191, 1);

}

@media screen and (max-width:1035px){
    .dop_qastions{
        grid-template-columns: 80%;
    }

}

@media screen and (max-width:745px){

    #qastion_01,
    #qastion_02,
    #qastion_03,
    #qastion_04,
    #qastion_05,
    #qastion_06,
    #qastion_07,
    #qastion_08 {
        width: 490px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
}

@media screen and (max-width:600px){
    .dop_qastions{
        grid-template-columns: 72%;
    }

    #qastion_01,
    #qastion_02,
    #qastion_03,
    #qastion_04,
    #qastion_05,
    #qastion_06,
    #qastion_07,
    #qastion_08 {
        width: 420px; /* Ограничьте ширину */
        max-width: 100%; /* Чтобы не выходить за границы родителя */
        overflow-x: scroll;
        white-space: nowrap; /* Отключите перенос текста */
    }
}

@media screen and (max-width:500px){
    .dop_qastions{
        grid-template-columns: 62%;
        row-gap: 2%;
    }

    #qastion_01,
#qastion_02,
#qastion_03,
#qastion_04,
#qastion_05,
#qastion_06,
#qastion_07,
#qastion_08 {
    width: 360px; /* Ограничьте ширину */

    font-size: 0.9rem;
    line-height: 20px;
    font-weight:400;
    border:1px solid rgba(182, 184, 191, 1);

    padding: 10px;
}
}

@media screen and (max-width:420px){
    .dop_qastions{
        grid-template-columns: 52%;
    }

    #qastion_01,
    #qastion_02,
    #qastion_03,
    #qastion_04,
    #qastion_05,
    #qastion_06,
    #qastion_07,
    #qastion_08 {
        width: 275px; /* Ограничьте ширину */
    }
}



/* BLOCK 6 */

.block6{
    display: grid;
}

.block_contact{
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 2%;
}

.phone_number{
    display: grid;
}

.phone_region{
    /* width: 100px; */
    display: grid;
    grid-template-columns: 30% 70%;
    /* column-gap: 10%; */
    /* width: 20%; */
}

#phone_num{
    font-size: 1rem;
    line-height: 24px;
    font-weight:400;
    border:1px solid rgba(182, 184, 191, 1);
    padding: 10px;
    width: 85%;

}

.insert_number{
    width: 100%;
    /* margin-top: 6%; */
    margin-top: auto;
    margin-bottom: 0%;
}

#insert_phone_number{
    width: 80%;
    font-size: 1rem;
    line-height: 24px;
    font-weight:400;
    padding: 10px;
    border:1px solid rgba(182, 184, 191, 1);
    margin-top: auto;
    /* margin-bottom:px; */

}

.email{
    display: grid;
}

#insert_email{
    margin-top: auto;
    /* margin-bottom: 3px; */
    font-size: 1rem;
    line-height: 24px;
    font-weight:400;
    padding: 10px;
    border:1px solid rgba(182, 184, 191, 1);


}

@media screen and (max-width:800px){
    .block_contact{
        grid-template-columns: 85%;
    }

    #insert_phone_number{
        width: 94%;
    }

    .insert_number{
        width: 100%;
    }

    .email{
        margin-top: 5%;
    }
}

@media screen and (max-width:600px){
    .email{
        width: 92%;
    }

    
    #insert_phone_number{
        width: 82%;
    }

}

@media screen and (max-width:500px){
    .email{
        width: 80%;
    }

    #insert_phone_number{
        width: 87%;
    }

    #phone_num{
        width: 100%;
    }

    
    .block6{
        margin-top: 25%;
    }

    .block_contact{
        margin-top: 3%;
    }

    #insert_email{
        font-size: 0.9rem;
        line-height: 20px;
        font-weight:400;
        padding: 10px;
        border:1px solid rgba(182, 184, 191, 1);

    }

    .phone_region{
        grid-template-columns: 20% 60%;
        column-gap: 2%;
    }

    #phone_num,
    #insert_phone_number{
        font-size: 0.9rem;
        line-height: 20px;
        font-weight:400;
        padding:12px;
        border:1px solid rgba(182, 184, 191, 1);
    }

}

@media screen and (max-width:420px){
    #insert_phone_number{
        width: 92%;
    }

    #phone_num{
        width: 100%;
    }

    #insert_email{
        width: 85%;
    }

    .email{
        width: 100%;
    }

    .phone_region{
        grid-template-columns: 26% 60%;
    }
}


/* SEND FORMA */

.send_forma{
    margin-top: 7%;
}

.block_forma{
    width: 96px;
    height: 28px;
    background-color: rgba(214, 216, 221, 1);
    text-align: center;
    padding: 10px;

}

.send_forma a {
    text-decoration: none;
    color: white;
}




















/* EENNDD */

.end{
    display: flex;
    /* height: 380px; */
    /* width: 1440px; */
    margin-top: 10%;
    background-color: rgba(245, 245, 245, 1);
}

.end_with_logo{
    display: block;
    /* height: 316px; */
    margin-left: 5%;
    margin-top: 4%;
}

.end_logo{
    font-size: 1.6875rem;
    color: rgba(12, 19, 161, 1);
}

.end_name_company{
    margin-top: 150%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: rgba(135, 135, 135, 1);
}

.agen_yslyg_contact_for_big_dev{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 10%;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 10%;
}

.agen_yslyg_contact_for_big_dev a{
    text-decoration: none;
    color:rgba(135, 135, 135, 1);
}

.agen_yslyg_contact a{
    text-decoration: none;
    color:rgba(135, 135, 135, 1);
}

.end_agenstvo{
    display: block;
    /* width: 272px; */
}

.zagolovok_end{
    width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 28px;
}

.text_in_end{
    width: 100%;
    margin-top: 5%;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: rgba(135, 135, 135, 1);
    margin-bottom: 8%;
}

.end_tg_wp{
    margin-top: 5%;
}

.end_for_small_devise{
    display: none;
    /* height: 380px; */
    /* width: 1440px; */
    margin-top: 10%;
    background-color: rgba(245, 245, 245, 1);
}

.end_with_logo{
    display: grid;
    /* height: 316px; */
    margin-left: 5%;
    margin-top: 2%;
}

.end_logo{
    font-size: 1.6875rem;
    color: rgba(12, 19, 161, 1);
}

.end_name_company{
    margin-top: 150%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: rgba(135, 135, 135, 1);
}

.agen_yslyg_contact{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    padding-top: 5%;
    margin-left: 10%;
    margin-right: 5%;
}
 
.end_agenstvo{
    display: block;
    /* width: 272px; */
}

.zagolovok_end{
    width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 28px;
}

.text_in_end{
    width: 100%;
    margin-top: 5%;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: rgba(135, 135, 135, 1);
}

.end_tg_wp{
    margin-top: 5%;
    display: flex;
}

.tg{
    margin-right: 5%;
}

.end_tri{
    display:none;
}

.end_tri a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 28px;
}


.end_for_small{
    text-align: center;
    margin-top: 5%;
    width: 100%;
}

.end_logo_small{
    width: 100%;
    font-size: 1.6875rem;
    color: rgba(12, 19, 161, 1);
}

.end_name_company_small{
    /* margin-top: 150%; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: rgba(135, 135, 135, 1);
}

@media (max-width:1040px){
    .end_for_small_devise{
        display:block
    }
    .end{
        display: none;
    }
}



@media (max-width:500px){
    .end_tri{
        margin-top: 3%;
        padding-top: 5%;
        display:grid;
        grid-template-columns: repeat(3,auto);
        text-align: center;
    }
    .agen_yslyg_contact{
        display: none;
    }
    .end_for_small{
        display: block;
        margin-top:5%;
    }
}


















div{
    display: inline-block;
    background-size: contain;         

}
/* Dropdown Button */
.dropbtn {
    /* font-family: Circe; */
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 28px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    border: none;
}

.dropbtnrus {
    /* font-family: Circe; */
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    background-color: rgba(245, 245, 245, 1);
    color: rgb(0, 0, 0);

    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    border-radius: 7px;
    display: none;
    position: fixed;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 100; */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(0, 0, 0) ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #bab8b8;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #bab8b8;}

.dropdown:hover .dropbtnrus {background-color: white;}
html{
    font-size: 16px;
}

img {
    max-width: 100%;
    display:block;
}

label {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 1%;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("/Polygon\ 1.svg");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 50%;
    color:rgb(0, 0, 0);
    border:1px solid rgba(182, 184, 191, 1);

}

input{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0px;
    color: rgba(135, 135, 135, 1);
}



